body {
  background-image: url("/IMG-20230513-WA0001\ \(1\).jpg");
  background-repeat: no-repeat;
}
h1 {
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
.topinfo {
  position: relative;
  display: flex;
  transition: all 3s;
}
img {
  position: absolute;
  width: 300px;
  margin: auto;
  /* align-items: center; */
  /* transform: translateY(120px); */
}
.home {
  background-color: aqua;
  border-radius: 10px;
  padding: 50px;
  width: 25%;
  transition: all 2s;
  z-index: 8;
}
.info {
  background-color: brown;
  z-index: 1;
}
.about {
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  padding: 50px;
  width: 25%;
}
.works {
  background-color: aqua;
  border-radius: 10px;
  padding: 50px;
  width: 25%;
}
.services {
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  padding: 50px;
  width: 25%;
}
h1:hover {
  color: hsl(56, 81%, 52%);
}

.topinfo:hover {
  color: blue;
}
