body {
  background-image: url("/3d\ paper\ style\ curvy\ design\ in\ layers\ _\ Free\ Vector.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.all {
  width: 100%;
  overflow-x: hidden;
}
h1 {
  /* text-decoration: underline; */
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  /* color: white; */
}
.topinfo {
  transform: translateY(-10px);
  width: 100%;
  justify-content: center;
  background-color: rgba(155, 14, 33, 0.795);
  position: fixed;
  display: flex;
  transition: all 1s;
}
.name {
  padding-top: 100px;
  padding-left: 50px;
  color: aliceblue;
}
.dada {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.daniel {
  font-size: 70px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transform: translateY(-80px);
}
.graph {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transform: translateY(-140px);
}

h1:hover {
  color: aliceblue;
}

.topinfo:hover {
  /* color: hsl(56, 81%, 52%); */
  color: hsl(56, 81%, 52%);
}
.info {
  justify-content: centers;
  width: 100%;
  display: flex;
  background-color: rgb(155, 14, 33);
  /* margin: 400px; */
}
.information {
  position: relative;
  /* transform: translateX(200px); */
  font-size: 20px;
  width: 400px;
  margin: auto;
  margin-right: 210px;
  /* padding-right: 210px; */
  /* margin-top: -200px; */
  /* margin-left: 400px;
  margin-right: 400px; */
  /* padding: auto; */
  /* background-color: rgb(61, 42, 165); */
  color: aliceblue;
}
img {
  width: 250px;
  margin-left: 350px;
}
/* .myskills {
  position: absolute;
  margin-top: 500px;
  color: blue;
  font-size: 30px;
}
.skill1 {
  color: blueviolet;
  position: absolute;
  margin-top: 500px;
} */
